In [30]:
import numpy as np
import pandas as pd
from flame_db.gen_insert_data import *
from flame_db.FLAME_db_algorithm import *
from flame_db.matching_helpers import *
from flame_db.utils import *
import unittest
import pandas as pd
import os
import sys




def check_statistics(res_post_new):
    ATE_ = ATE_db(res_post_new)
    ATT_ = ATT_db(res_post_new)
    if type(ATE_) == np.nan:
        print("ATE: " + str(ATE_))
        return True
    if type(ATT_) == np.nan:
        print("ATT:" + str(ATT_))
        return True
    return False


p = 4
TE = 5

data,weight_array = gen_data_db(n = 100,p = p, TE = TE)
holdout,weight_array = gen_data_db(n = 50,p = p, TE = TE)
data[data.loc[:,'treated'] ==1] = 0
data.loc[1,'treated'] = 1
#Connect to the database
select_db = "postgreSQL"  # Select the database you are using
database_name='tmp' # database name
host ='vcm-17819.vm.duke.edu' # "127.0.0.1"
port = "5432"
user="newuser"
password= "sunxian123"
conn = connect_db(database_name, user, password, host, port)
insert_data_to_db("test_df1", # The name of your table containing the dataset to be matched
                    data,
                    treatment_column_name= "treated",
                    outcome_column_name= 'outcome',conn = conn)
res_post_new1 = FLAME_db(input_data = "test_df1", # The name of your table containing the dataset to be matched
                        holdout_data = holdout, # holdout set
                        treatment_column_name= "treated",
                        outcome_column_name= 'outcome',
                        C = 0.1,
                        conn = conn,
                        matching_option = 3,
                        verbose = 3,
                        k = 0
                        )


data.loc[:,'treated']= 1
data.loc[1,'treated'] = 0
insert_data_to_db("test_df2", # The name of your table containing the dataset to be matched
                    data,
                    treatment_column_name= "treated",
                    outcome_column_name= 'outcome',conn = conn)
res_post_new1 = FLAME_db(input_data = "test_df2", # The name of your table containing the dataset to be matched
                        holdout_data = holdout, # holdout set
                        treatment_column_name= "treated",
                        outcome_column_name= 'outcome',
                        C = 0.1,
                        conn = conn,
                        matching_option = 3,
                        verbose = 3,
                        k = 0
                        )

p=10
data,weight_array = gen_data_db(n = 100,p = p, TE = TE)
holdout,weight_array = gen_data_db(n = 50,p = p, TE = TE)
insert_data_to_db("test_df3", # The name of your table containing the dataset to be matched
                    data,
                    treatment_column_name= "treated",
                    outcome_column_name= 'outcome',conn = conn)
res_post_new1 = FLAME_db(input_data = "test_df3", # The name of your table containing the dataset to be matched
                        holdout_data = holdout, # holdout set
                        conn = conn,
                        matching_option = 3,
                        verbose = 3,
                        k = 0,
                        early_stop_pe = 0.0
                        )

p=10
data,weight_array = gen_data_db(n = 100,p = p, TE = TE)
holdout,weight_array = gen_data_db(n = 50,p = p, TE = TE)
insert_data_to_db("test_df4", # The name of your table containing the dataset to be matched
                    data,
                    treatment_column_name= "treated",
                    outcome_column_name= 'outcome',conn = conn)
res_post_new1 = FLAME_db(input_data = "test_df4", # The name of your table containing the dataset to be matched
                        holdout_data = holdout, # holdout set
                        conn = conn,
                        matching_option = 3,
                        verbose = 3,
                        k = 0,
                        early_stop_iterations = 1
                        )

res_post_new1 = FLAME_db(input_data = "test_df4", # The name of your table containing the dataset to be matched
                        holdout_data = holdout, # holdout set
                        conn = conn,
                        matching_option = 3,
                        verbose = 3,
                        k = 0,
                        early_stop_un_c_frac = 1
                        )
res_post_new1 = FLAME_db(input_data = "test_df4", # The name of your table containing the dataset to be matched
                        holdout_data = holdout, # holdout set
                        conn = conn,
                        matching_option = 3,
                        verbose = 3,
                        k = 0,
                        early_stop_un_t_frac = 1
                        )

Insert 100 rows successfully to Database
un_matched in total:  42
matched in total:  4958
Level1: Do matching without dropping any covs
Early stopping: All treated units matched
Done matching:
	Number of units matched so far:  58
	Number of covariates dropped in total:  1
	Number of matched groups formed in total:  1
	Unmatched treated units:  0 out of a total of  1 treated units
	Unmatched control units:  42 out of a total of  99 control units
Insert 100 rows successfully to Database
un_matched in total:  42
matched in total:  4958
Level1: Do matching without dropping any covs
Early stopping: All control units matched
Done matching:
	Number of units matched so far:  58
	Number of covariates dropped in total:  1
	Number of matched groups formed in total:  1
	Unmatched treated units:  42 out of a total of  99 treated units
	Unmatched control units:  0 out of a total of  1 control units
Insert 100 rows successfully to Database
un_matched in total:  94
matched in total:  4906
Level1: Do matching without dropping any covs
Early stopping: predictive error would have risen above  0.0
Done matching:
	Number of units matched so far:  6
	Number of covariates dropped in total:  1
	Number of matched groups formed in total:  3
	Unmatched treated units:  37 out of a total of  40 treated units
	Unmatched control units:  57 out of a total of  60 control units
Insert 100 rows successfully to Database
un_matched in total:  94
matched in total:  4906
Level1: Do matching without dropping any covs
Early stopping: completed  1  iterations and stop at level 1
Done matching:
	Number of units matched so far:  6
	Number of covariates dropped in total:  1
	Number of matched groups formed in total:  3
	Unmatched treated units:  46 out of a total of  49 treated units
	Unmatched control units:  48 out of a total of  51 control units
un_matched in total:  94
matched in total:  4906
Level1: Do matching without dropping any covs
Early stopping: proportion of control units that are unmatched would have dropped below  1
Done matching:
	Number of units matched so far:  6
	Number of covariates dropped in total:  1
	Number of matched groups formed in total:  3
	Unmatched treated units:  46 out of a total of  49 treated units
	Unmatched control units:  48 out of a total of  51 control units
un_matched in total:  94
matched in total:  4906
Level1: Do matching without dropping any covs
Early stopping: proportion of treatment units that are unmatched would have dropped below  1
Done matching:
	Number of units matched so far:  6
	Number of covariates dropped in total:  1
	Number of matched groups formed in total:  3
	Unmatched treated units:  46 out of a total of  49 treated units
	Unmatched control units:  48 out of a total of  51 control units

In [14]:
data[data.loc[:,'treated'] ==1]

,cov1,cov2,cov3,cov4,cov5,cov6,cov7,cov8,cov9,cov10,...,cov13,cov14,cov15,cov16,cov17,cov18,cov19,cov20,treated,outcome
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,0.0

In [13]:
res_post_new1

([  cov12 cov15  cov8  cov7 cov4 cov19  cov5 cov17 cov13 cov18  ...  cov1 cov14  \
  0   Bad  Good  Good  Good  Bad   Bad  Good  Good  Good  Good  ...  Good   Bad

     cov2 cov9 cov10 avg_outcome_control avg_outcome_treated  num_control  \
  0  Good  Bad   Bad          128.417835          162.647676            1

     num_treated  is_matched
  0            1           4

  [1 rows x 22 columns],
    cov12 cov15  cov8 cov7 cov19 cov5 cov17 cov13 cov18 cov16  ... cov1 cov14  \
  0  Good   Bad  Good  Bad  Good  Bad   Bad   Bad   Bad   Bad  ...  Bad   Bad

    cov2 cov9 cov10 avg_outcome_control  avg_outcome_treated  num_control  \
  0  Bad  Bad   Bad           86.318607             80.87697            1

     num_treated  is_matched
  0            1           5

  [1 rows x 21 columns],
    cov15  cov8  cov7 cov19  cov5 cov17 cov13 cov18 cov16  cov3  cov1 cov14  \
  0   Bad   Bad   Bad   Bad   Bad  Good  Good   Bad   Bad   Bad   Bad  Good
  1   Bad  Good   Bad   Bad  Good   Bad   Bad   Bad   Bad   Bad   Bad   Bad
  2   Bad  Good  Good  Good  Good  Good   Bad  Good  Good   Bad  Good   Bad
  3  Good  Good   Bad   Bad   Bad   Bad  Good  Good   Bad  Good   Bad  Good
  4  Good  Good  Good   Bad   Bad   Bad  Good  Good   Bad   Bad   Bad   Bad

     cov2  cov9 cov10  avg_outcome_control  avg_outcome_treated  num_control  \
  0  Good  Good   Bad            85.150541           109.789717            1
  1   Bad   Bad   Bad           115.413665           100.556715            1
  2  Good  Good  Good           259.426724           266.561583            1
  3   Bad  Good   Bad           129.418110           105.500063            1
  4  Good  Good  Good           179.673755           204.479756            1

     num_treated  is_matched
  0            1           6
  1            1           6
  2            1           6
  3            1           6
  4            1           6  ,
    cov15  cov8  cov7 cov19  cov5 cov17 cov13 cov16  cov3  cov1 cov14 cov2  \
  0   Bad   Bad   Bad  Good  Good   Bad   Bad   Bad   Bad  Good  Good  Bad
  1   Bad  Good  Good   Bad  Good   Bad   Bad  Good   Bad  Good  Good  Bad
  2  Good  Good   Bad   Bad   Bad   Bad   Bad   Bad  Good   Bad  Good  Bad

     cov9 cov10  avg_outcome_control  avg_outcome_treated  num_control  \
  0   Bad  Good           108.947332            84.623811            1
  1  Good   Bad           199.497387           205.307498            1
  2   Bad   Bad            54.885342            90.467369            1

     num_treated  is_matched
  0            1           7
  1            1           7
  2            1           7  ,
     cov15  cov8  cov7 cov19 cov17 cov13 cov16  cov3  cov1 cov14  cov2  cov9  \
  0    Bad   Bad   Bad  Good   Bad   Bad   Bad  Good  Good   Bad   Bad  Good
  1    Bad   Bad   Bad  Good   Bad  Good  Good   Bad  Good   Bad  Good   Bad
  2    Bad   Bad   Bad  Good  Good   Bad   Bad  Good   Bad   Bad  Good   Bad
  3    Bad  Good   Bad   Bad   Bad   Bad   Bad  Good  Good  Good   Bad  Good
  4    Bad  Good   Bad  Good  Good   Bad  Good   Bad   Bad   Bad  Good  Good
  5    Bad  Good  Good  Good  Good  Good  Good  Good   Bad  Good  Good   Bad
  6   Good   Bad  Good   Bad   Bad  Good   Bad  Good  Good  Good  Good  Good
  7   Good   Bad  Good   Bad  Good   Bad  Good   Bad  Good  Good   Bad   Bad
  8   Good  Good   Bad  Good   Bad   Bad  Good   Bad  Good  Good  Good  Good
  9   Good  Good   Bad  Good  Good   Bad  Good  Good  Good   Bad   Bad   Bad
  10  Good  Good  Good   Bad  Good   Bad  Good   Bad  Good   Bad  Good  Good

     cov10  avg_outcome_control  avg_outcome_treated  num_control  num_treated  \
  0   Good           114.018359           174.905454            1            1
  1   Good            91.579938           121.318830            1            1
  2   Good            98.015405           114.085000            1            2
  3   Good           155.902940           204.571206            1            1
  4    Bad           139.696014            99.859548            1            1
  5    Bad            99.231867           180.623569            1            1
  6   Good           215.621599           216.329192            1            1
  7    Bad            86.358761            75.923130            1            1
  8   Good           168.942266           199.673484            1            1
  9    Bad            78.762326           110.538092            1            1
  10   Bad           162.158744           139.993749            1            1

      is_matched
  0            8
  1            8
  2            8
  3            8
  4            8
  5            8
  6            8
  7            8
  8            8
  9            8
  10           8  ,
     cov15  cov8  cov7 cov19 cov17 cov13 cov16  cov3  cov1 cov14  cov9 cov10  \
  0    Bad   Bad   Bad   Bad  Good   Bad   Bad   Bad   Bad  Good  Good   Bad
  1    Bad   Bad   Bad   Bad  Good  Good   Bad  Good  Good   Bad  Good   Bad
  2    Bad   Bad   Bad   Bad  Good  Good  Good   Bad  Good  Good  Good   Bad
  3    Bad   Bad   Bad  Good  Good  Good  Good  Good  Good   Bad   Bad   Bad
  4    Bad   Bad  Good   Bad  Good  Good  Good  Good   Bad  Good   Bad   Bad
  5    Bad   Bad  Good   Bad  Good  Good  Good  Good  Good  Good   Bad   Bad
  6    Bad   Bad  Good  Good  Good   Bad  Good   Bad  Good  Good   Bad   Bad
  7    Bad  Good  Good  Good  Good   Bad  Good   Bad  Good   Bad   Bad  Good
  8    Bad  Good  Good  Good  Good  Good   Bad  Good  Good   Bad   Bad   Bad
  9    Bad  Good  Good  Good  Good  Good  Good  Good   Bad  Good  Good  Good
  10  Good   Bad   Bad   Bad  Good   Bad  Good   Bad  Good   Bad   Bad  Good
  11  Good   Bad   Bad  Good   Bad  Good   Bad  Good  Good   Bad  Good   Bad
  12  Good   Bad   Bad  Good  Good  Good   Bad   Bad  Good  Good  Good  Good
  13  Good   Bad  Good  Good   Bad  Good   Bad   Bad   Bad  Good   Bad  Good
  14  Good   Bad  Good  Good  Good  Good   Bad   Bad  Good   Bad  Good   Bad
  15  Good   Bad  Good  Good  Good  Good  Good  Good   Bad   Bad  Good   Bad
  16  Good  Good   Bad  Good   Bad   Bad   Bad   Bad  Good  Good   Bad  Good
  17  Good  Good   Bad  Good   Bad   Bad  Good  Good  Good  Good   Bad   Bad
  18  Good  Good   Bad  Good   Bad  Good  Good  Good  Good  Good  Good  Good
  19  Good  Good  Good   Bad   Bad   Bad  Good   Bad  Good   Bad   Bad   Bad
  20  Good  Good  Good   Bad  Good   Bad  Good   Bad   Bad  Good  Good  Good
  21  Good  Good  Good   Bad  Good  Good   Bad  Good  Good   Bad   Bad  Good
  22  Good  Good  Good  Good   Bad  Good  Good  Good   Bad   Bad   Bad   Bad
  23  Good  Good  Good  Good  Good   Bad   Bad   Bad   Bad   Bad   Bad   Bad
  24  Good  Good  Good  Good  Good   Bad   Bad  Good  Good  Good   Bad  Good

      avg_outcome_control  avg_outcome_treated  num_control  num_treated  \
  0             46.048667            79.250322            1            1
  1             64.962154           133.715003            1            1
  2            126.130868            90.447289            1            1
  3             70.739698            56.299444            1            1
  4            133.864549           110.864679            1            1
  5             52.749284            95.726714            1            1
  6             76.003358            95.237035            1            2
  7            169.506437           163.945552            1            1
  8             95.462576           153.657151            1            1
  9            205.701928           251.554702            1            1
  10            75.821141           121.470605            1            1
  11           123.434697           143.535205            1            1
  12           160.897204           179.976374            1            1
  13           114.712801           131.378465            1            1
  14            84.597793           155.550394            1            1
  15           136.256821           129.536923            1            1
  16           159.795638           129.677985            1            1
  17            59.009308           151.365895            1            1
  18           165.465531           185.038684            1            1
  19           100.309835           114.096144            1            1
  20           225.670655           220.072001            1            1
  21           144.435915           179.780012            1            1
  22           155.079174           139.665871            1            1
  23            94.892284            89.900446            1            1
  24           185.887012           205.709539            1            1

      is_matched
  0            9
  1            9
  2            9
  3            9
  4            9
  5            9
  6            9
  7            9
  8            9
  9            9
  10           9
  11           9
  12           9
  13           9
  14           9
  15           9
  16           9
  17           9
  18           9
  19           9
  20           9
  21           9
  22           9
  23           9
  24           9  ,
     cov15  cov8  cov7 cov19 cov13 cov16  cov3  cov1 cov14  cov9 cov10  \
  0    Bad   Bad   Bad   Bad   Bad  Good   Bad   Bad   Bad   Bad   Bad
  1    Bad   Bad   Bad   Bad   Bad  Good  Good  Good   Bad   Bad  Good
  2    Bad   Bad   Bad  Good   Bad   Bad   Bad   Bad   Bad   Bad  Good
  3    Bad   Bad   Bad  Good   Bad   Bad   Bad  Good   Bad   Bad  Good
  4    Bad   Bad   Bad  Good   Bad  Good  Good   Bad   Bad  Good   Bad
  5    Bad   Bad   Bad  Good  Good  Good   Bad   Bad  Good   Bad   Bad
  6    Bad   Bad  Good   Bad   Bad  Good   Bad   Bad   Bad  Good  Good
  7    Bad   Bad  Good   Bad  Good  Good   Bad   Bad  Good  Good   Bad
  8    Bad   Bad  Good  Good   Bad   Bad   Bad   Bad   Bad  Good  Good
  9    Bad   Bad  Good  Good   Bad  Good   Bad  Good   Bad  Good  Good
  10   Bad   Bad  Good  Good  Good   Bad   Bad   Bad   Bad  Good   Bad
  11   Bad   Bad  Good  Good  Good   Bad  Good  Good  Good  Good  Good
  12   Bad  Good   Bad   Bad  Good   Bad   Bad   Bad  Good   Bad  Good
  13   Bad  Good   Bad   Bad  Good  Good   Bad   Bad  Good   Bad   Bad
  14   Bad  Good   Bad   Bad  Good  Good  Good   Bad  Good   Bad   Bad
  15   Bad  Good   Bad  Good   Bad  Good  Good   Bad  Good  Good   Bad
  16   Bad  Good   Bad  Good  Good   Bad  Good   Bad   Bad  Good   Bad
  17   Bad  Good   Bad  Good  Good  Good  Good  Good   Bad   Bad   Bad
  18   Bad  Good   Bad  Good  Good  Good  Good  Good   Bad  Good  Good
  19   Bad  Good  Good   Bad   Bad   Bad   Bad  Good  Good   Bad   Bad
  20   Bad  Good  Good   Bad   Bad   Bad  Good   Bad   Bad   Bad  Good
  21   Bad  Good  Good   Bad   Bad  Good  Good  Good  Good  Good  Good
  22   Bad  Good  Good   Bad  Good   Bad   Bad   Bad  Good  Good   Bad
  23   Bad  Good  Good   Bad  Good   Bad   Bad  Good   Bad   Bad  Good
  24   Bad  Good  Good   Bad  Good  Good  Good   Bad  Good  Good  Good
  25   Bad  Good  Good  Good   Bad   Bad   Bad  Good  Good   Bad  Good
  26   Bad  Good  Good  Good  Good   Bad  Good   Bad  Good  Good  Good
  27  Good   Bad   Bad  Good   Bad   Bad   Bad   Bad  Good  Good  Good
  28  Good   Bad  Good   Bad   Bad   Bad   Bad  Good  Good   Bad  Good
  29  Good   Bad  Good   Bad   Bad  Good  Good  Good   Bad   Bad   Bad
  30  Good   Bad  Good  Good  Good  Good   Bad   Bad   Bad  Good  Good
  31  Good   Bad  Good  Good  Good  Good  Good  Good   Bad  Good   Bad
  32  Good  Good   Bad   Bad   Bad   Bad   Bad   Bad  Good   Bad  Good
  33  Good  Good   Bad  Good   Bad   Bad   Bad   Bad   Bad  Good  Good
  34  Good  Good   Bad  Good  Good   Bad   Bad  Good   Bad   Bad  Good
  35  Good  Good   Bad  Good  Good  Good  Good   Bad   Bad   Bad   Bad
  36  Good  Good  Good   Bad   Bad   Bad   Bad   Bad  Good  Good   Bad
  37  Good  Good  Good   Bad   Bad  Good  Good  Good  Good  Good  Good
  38  Good  Good  Good   Bad  Good   Bad   Bad   Bad   Bad   Bad  Good
  39  Good  Good  Good  Good   Bad   Bad   Bad   Bad   Bad   Bad  Good
  40  Good  Good  Good  Good   Bad   Bad  Good   Bad   Bad   Bad  Good
  41  Good  Good  Good  Good   Bad   Bad  Good  Good   Bad   Bad  Good
  42  Good  Good  Good  Good   Bad  Good   Bad  Good   Bad   Bad   Bad
  43  Good  Good  Good  Good  Good   Bad  Good   Bad   Bad  Good   Bad

      avg_outcome_control  avg_outcome_treated  num_control  num_treated  \
  0              0.392439            50.320622            1            1
  1             92.405261            92.311740            1            2
  2             94.231372           129.521852            2            1
  3             89.995830           114.001180            1            1
  4            113.119889            90.789142            1            1
  5             53.067148            25.484619            1            1
  6            189.655291           154.769798            1            1
  7            117.447788           118.400730            1            1
  8            141.174451           144.531691            1            1
  9            180.081231           170.741285            1            1
  10           134.874922           134.715795            1            1
  11           204.548476           203.531483            1            1
  12           140.277714           106.517228            1            1
  13           104.726880            84.459408            1            1
  14            53.994758            61.871282            1            1
  15           141.282018           161.352716            1            1
  16           109.302995           124.539861            1            1
  17           105.049093           130.896664            1            1
  18           215.709902           170.062860            1            1
  19           109.655084            84.617326            1            1
  20           183.479765           231.453674            1            1
  21           229.132446           278.640192            1            1
  22           186.578119           134.965014            2            1
  23           188.266925           165.480819            1            1
  24           213.680699           254.643090            1            1
  25           204.165503           185.165719            1            1
  26           233.503426           229.875357            1            1
  27           158.447697           125.817571            1            1
  28           110.588062           178.919473            1            1
  29           112.956109            94.378936            1            1
  30           156.259346           165.436159            3            1
  31           143.819530           115.130512            1            1
  32           113.469785           142.018458            1            2
  33           194.474724           149.925116            1            1
  34           155.205718           129.171942            2            1
  35            83.556843            88.323181            1            1
  36           181.065192           126.540489            1            1
  37           274.790085           223.144213            1            1
  38           188.268645           213.474471            1            1
  39           170.171781           150.117213            1            1
  40           165.584790           170.966852            1            1
  41           165.610002           160.976539            1            1
  42           126.606272           138.252647            1            1
  43           171.486593           189.307107            1            1

      is_matched
  0           10
  1           10
  2           10
  3           10
  4           10
  5           10
  6           10
  7           10
  8           10
  9           10
  10          10
  11          10
  12          10
  13          10
  14          10
  15          10
  16          10
  17          10
  18          10
  19          10
  20          10
  21          10
  22          10
  23          10
  24          10
  25          10
  26          10
  27          10
  28          10
  29          10
  30          10
  31          10
  32          10
  33          10
  34          10
  35          10
  36          10
  37          10
  38          10
  39          10
  40          10
  41          10
  42          10
  43          10  ,
     cov15  cov8  cov7 cov19 cov13  cov3  cov1 cov14  cov9 cov10  \
  0    Bad   Bad   Bad   Bad   Bad   Bad   Bad   Bad  Good   Bad
  1    Bad   Bad   Bad   Bad   Bad   Bad   Bad   Bad  Good  Good
  2    Bad   Bad   Bad   Bad   Bad   Bad  Good  Good  Good  Good
  3    Bad   Bad   Bad   Bad   Bad  Good   Bad  Good  Good   Bad
  4    Bad   Bad   Bad   Bad   Bad  Good  Good  Good   Bad  Good
  ..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
  62  Good  Good  Good  Good   Bad   Bad   Bad  Good   Bad  Good
  63  Good  Good  Good  Good   Bad  Good   Bad  Good   Bad  Good
  64  Good  Good  Good  Good   Bad  Good  Good  Good  Good  Good
  65  Good  Good  Good  Good  Good   Bad   Bad  Good   Bad  Good
  66  Good  Good  Good  Good  Good  Good  Good   Bad  Good   Bad

      avg_outcome_control  avg_outcome_treated  num_control  num_treated  \
  0             94.654344            84.708971            1            1
  1            131.040139           108.653942            1            1
  2            127.918540           189.064006            1            1
  3             92.356162            74.275878            1            1
  4            125.053430           111.455274            1            1
  ..                  ...                  ...          ...          ...
  62           164.842299           158.290106            1            1
  63           199.793088           174.469224            1            1
  64           225.923857           245.553866            1            1
  65           161.937994           148.877282            1            1
  66           185.428060           190.281275            1            2

      is_matched
  0           11
  1           11
  2           11
  3           11
  4           11
  ..         ...
  62          11
  63          11
  64          11
  65          11
  66          11

  [67 rows x 15 columns],
     cov15  cov8  cov7 cov19 cov13  cov3  cov1  cov9 cov10  avg_outcome_control  \
  0    Bad   Bad   Bad   Bad   Bad  Good   Bad   Bad  Good           110.201297
  1    Bad   Bad   Bad   Bad   Bad  Good   Bad  Good  Good           148.519930
  2    Bad   Bad   Bad   Bad  Good   Bad   Bad   Bad  Good           105.175023
  3    Bad   Bad   Bad   Bad  Good  Good   Bad   Bad  Good           129.083289
  4    Bad   Bad   Bad  Good   Bad  Good   Bad   Bad   Bad            62.404849
  ..   ...   ...   ...   ...   ...   ...   ...   ...   ...                  ...
  59  Good  Good   Bad  Good  Good   Bad  Good  Good  Good           194.668844
  60  Good  Good  Good   Bad   Bad  Good   Bad   Bad  Good           180.039395
  61  Good  Good  Good  Good  Good   Bad  Good   Bad   Bad           130.523121
  62  Good  Good  Good  Good  Good   Bad  Good  Good  Good           216.403783
  63  Good  Good  Good  Good  Good  Good  Good  Good  Good           209.703988

      avg_outcome_treated  num_control  num_treated  is_matched
  0            107.242290            1            2          12
  1            160.808968            1            1          12
  2             93.790095            1            1          12
  3            105.632448            1            3          12
  4             54.070586            2            1          12
  ..                  ...          ...          ...         ...
  59           197.029164            1            2          12
  60           176.550563            3            1          12
  61           139.818505            1            1          12
  62           226.010343            3            1          12
  63           234.132221            1            2          12

  [64 rows x 14 columns],

In [ ]:
data =

In [9]:
# import numpy as np
# import pandas as pd
# from flame_db.gen_insert_data import *
# from flame_db.FLAME_db_algorithm import *
# from flame_db.matching_helpers import *
# from flame_db.utils import *
# import unittest
# import pandas as pd
# import os
# import sys




# def check_statistics(res_post_new):
#     ATE_ = ATE_db(res_post_new)
#     ATT_ = ATT_db(res_post_new)
#     if type(ATE_) == np.nan:
#         print("ATE: " + str(ATE_))
#         return True
#     if type(ATT_) == np.nan:
#         print("ATT:" + str(ATT_))
#         return True
#     return False


# p = 20
# TE = 5
# gen_data_db(n = 1000,p = 2, TE = TE)
# data,weight_array = gen_data_db(n = 1000,p = p, TE = TE)
# holdout,weight_array = gen_data_db(n = 500,p = p, TE = TE)
# #Connect to the database
# select_db = "postgreSQL"  # Select the database you are using
# database_name='tmp' # database name
# host ='vcm-17819.vm.duke.edu' # "127.0.0.1"
# port = "5432"
# user="newuser"
# password= "sunxian123"
# conn = connect_db(database_name, user, password, host, port)

# class TestFlame_db(unittest.TestCase):
              
#     def test_weights(self):
#         is_corrct = 1
#         try:
            
#             #Insert the data into database
#             insert_data_to_db("test_df", # The name of your table containing the dataset to be matched
#                                 data,
#                                 treatment_column_name= "treated",
#                                 outcome_column_name= 'outcome',conn = conn)
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     treatment_column_name= "treated",
#                                     outcome_column_name= 'outcome',
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     k = 0
#                                     )
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     treatment_column_name= "treated",
#                                     outcome_column_name= 'outcome',
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 2,
#                                     adaptive_weights = False,
#                                     weight_array = weight_array,
#                                     verbose = 3,
#                                     k = 0
#                                     )
#             if check_statistics(res_post_new1) or check_statistics(res_post_new2):
#                 is_corrct = 0
            
#         except (KeyError, ValueError):
#                 is_corrct = 0

#         self.assertEqual(1, is_corrct,
#                              msg='Error when test weights')


#     def test_missing_datasets(self):
#         is_corrct = 1
#         try:
#             holdout_miss = holdout.copy()
#             m,n = holdout_miss.shape
#             for i in range(int(m/100)):
#                 for j in [0,int(n/2)]:
#                     holdout_miss.iloc[i,j] = np.nan
#             res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout_miss, # holdout set
#                                     C = 0,
#                                     conn = conn,
#                                     matching_option = 2,
#                                     adaptive_weights = 'decisiontree',
#                                     verbose = 1,
#                                     missing_data_replace = 0,
#                                     missing_holdout_replace = 0)
#             if check_statistics(res_post_new):
#                 is_corrct = 0

#         except (KeyError, ValueError):
#                 is_corrct = 0

#         self.assertEqual(1, is_corrct,
#                              msg='Error when test missing datasets')  


# class Test_exceptions(unittest.TestCase):
    
#     def test_false_dataset(self):
#         def broken_false_dataset():
#             res_post_new1 = FLAME_db(input_data = data, # The name of your table containing the dataset to be matched
#                                                 holdout_data = holdout, # holdout set
#                                                 C = 0.1,
#                                                 conn = conn,
#                                                 matching_option = 0,
#                                                 verbose = 3,
#                                                 k = 0
#                                                 )
#         with self.assertRaises(Exception) as false_dataset:
#             broken_false_dataset()
            
#         self.assertTrue("Need to specify the name of the table that contains the dataset in your database "\
#                         "frame in parameter 'input_data'" in str(false_dataset.exception))
        
#     def test_false_holdout(self):
#         def broken_false_holdout():
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                                 holdout_data = 0, # holdout set
#                                                 C = 0.1,
#                                                 conn = conn,
#                                                 matching_option = 0,
#                                                 verbose = 3,
#                                                 k = 0
#                                                 )
#         with self.assertRaises(Exception) as holdout:
#             broken_false_holdout()
            
#         self.assertTrue("Holdout_data shoule be a dataframe or a directory" in str(holdout.exception))

        
#     def test_false_treatment_column_name(self):
#         def broken_treatment_column_name():
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                                 holdout_data = holdout, # holdout set
#                                                 treatment_column_name= "sadfdag",
#                                                 C = 0.1,
#                                                 conn = conn,
#                                                 matching_option = 0,
#                                                 verbose = 3,
#                                                 k = 0
#                                                 )
#         with self.assertRaises(Exception) as treatment_column_name:
#             broken_treatment_column_name()
            
#         self.assertTrue('Invalid input error. Treatment column name does not'\
#                         ' exist' in str(treatment_column_name.exception))

#     def test_false_outcome_column_name(self):
#         def broken_outcome_column_name():
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     outcome_column_name= '1232114',
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     k = 0
#                                     )

#         with self.assertRaises(Exception) as outcome_column_name:
#             broken_outcome_column_name()
            
#         self.assertTrue('Invalid input error. Outcome column name does not'\
#                         ' exist' in str(outcome_column_name.exception))
        

        
#     def test_false_early_stop_un_t_frac(self):
#         def broken_early_stop_un_t_frac():
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     early_stop_un_t_frac = -1,
#                                     k = 0
#                                     )

#         with self.assertRaises(Exception) as early_stop_un_t_frac:
#             broken_early_stop_un_t_frac()
            
#         self.assertTrue('The value provided for the early stopping critera '\
#                         'of proportion of unmatched treatment units needs to '\
#                         'be between 0.0 and 1.0' in str(early_stop_un_t_frac.exception))
    
#     def test_false_early_stop_un_c_frac(self):
#         def broken_early_stop_un_c_frac():
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     early_stop_un_c_frac=-1,
#                                     k = 0
#                                     )

#         with self.assertRaises(Exception) as early_stop_un_c_frac:
#             broken_early_stop_un_c_frac()
            
#         self.assertTrue('The value provided for the early stopping critera '\
#                         'of proportion of unmatched control units needs to '\
#                         'be between 0.0 and 1.0' in str(early_stop_un_c_frac.exception))
    

#     def test_false_early_stop_pe(self):
#         def broken_early_stop_pe():
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     early_stop_pe = -10,
#                                     k = 0
#                                     )

#         with self.assertRaises(Exception) as early_stop_pe:
#             broken_early_stop_pe()
            
#         self.assertTrue('The value provided for the early stopping critera '\
#                         'of PE needs to be non-negative ' in str(early_stop_pe.exception))

#     def test_false_early_stop_pe_frac(self):
#         def broken_early_stop_pe_frac():
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     early_stop_pe_frac=-1,
#                                     k = 0
#                                     )

#         with self.assertRaises(Exception) as early_stop_pe_frac:
#             broken_early_stop_pe_frac()
            
#         self.assertTrue('The value provided for the early stopping critera of'\
#                         ' proportion of PE needs to be between 0.0 and 1.0' in str(early_stop_pe_frac.exception))
        
        
#     def test_false_weights_type(self):
#         def broken_weights_type():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 2,
#                                     adaptive_weights = 'safdsaf',
#                                     verbose = 3,
#                                     k = 0
#                                     )
#         with self.assertRaises(Exception) as _weights_type:
#             broken_weights_type()
            
#         self.assertTrue("Invalid input error. The acceptable values for "\
#                             "the adaptive_weights parameter are 'ridge', "\
#                             "'decisiontree'. Additionally, "\
#                             "adaptive-weights may be 'False' along "\
#                             "with a weight array" in str(_weights_type.exception))

#     def test_false_weight_array_len(self):
#         def broken_weight_array_len():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     adaptive_weights = False,
#                                     matching_option = 2,
#                                     weight_array = [1],
#                                     verbose = 3,
#                                     k = 0
#                                     )
#         with self.assertRaises(Exception) as weight_array_len:
#             broken_weight_array_len()
            
#         self.assertTrue('Invalid input error. Weight array size not equal'\
#                             ' to number of columns in dataframe' in str(weight_array_len.exception))
        
        
#     def test_false_weight_array_sum(self):
#         def broken_weight_array_sum():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     adaptive_weights = False,
#                                     matching_option = 2,
#                                     weight_array = [1]*p,
#                                     verbose = 3,
#                                     k = 0
#                                     )
#         with self.assertRaises(Exception) as weight_array_sum:
#             broken_weight_array_sum()
            
#         self.assertTrue('Invalid input error. Weight array values must '\
#                             'sum to 1.0' in str(weight_array_sum.exception))
        
        
#     def test_false_alpha(self):
#         def broken_alpha():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     alpha = -10,
#                                     verbose = 3,
#                                     k = 0
#                                     )
#         with self.assertRaises(Exception) as alpha:
#             broken_alpha()
            
#         self.assertTrue('Invalid input error. The alpha needs to be '\
#                             'positive for ridge regressions.' in str(alpha.exception))
        
        
#     def test_false_C(self):
#         def broken_C():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     C = -10,
#                                     conn = conn,
#                                     verbose = 3,
#                                     k = 0
#                                     )
#         with self.assertRaises(Exception) as C:
#             broken_C()
            
#         self.assertTrue('The C, or the hyperparameter to trade-off between'\
#                            ' balancing factor and predictive error must be '\
#                            ' nonnegative. 'in str(C.exception))

#     def test_false_k(self):
#         def broken_k():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn,
#                                     verbose = 3,
#                                     k = -10
#                                     )
#         with self.assertRaises(Exception) as k:
#             broken_k()
            
#         self.assertTrue('Invalid input error. The k must be'\
#             'a postive integer.'in str(k.exception))

        
#     def test_false_ratio(self):
#         def broken_ratio():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn,
#                                     verbose = 3,
#                                     ratio = -10
#                                     )
#         with self.assertRaises(Exception) as ratio:
#             broken_ratio()
            
#         self.assertTrue('Invalid input error. ratio value must '\
#                             'be positive and smaller than 1.0 \n'\
#                         'Recommended 0.01 and please do not adjust it unless necessary 'in str(ratio.exception))
        
        
#     def test_false_matching_option(self):
#         def broken_matching_option():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn,
#                                     verbose = 3,
#                                     matching_option = -10
#                                     )
#         with self.assertRaises(Exception) as matching_option:
#             broken_matching_option()
            
#         self.assertTrue('Invalid input error. matching_option value must '\
#             'be 0, 1, 2 or 3'in str(matching_option.exception))
        
#     def test_false_verbose(self):
#         def broken_verbose():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn,
#                                     verbose = 10
#                                     )
#         with self.assertRaises(Exception) as verbose:
#             broken_verbose()
            
#         self.assertTrue('Invalid input error. The verbose option must be'\
#                         'the integer 0,1,2 or 3.'in str(verbose.exception))
                
#     def test_false_max_depth(self):
#         def broken_max_depth():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn,
#                                     max_depth = -10
#                                     )
#         with self.assertRaises(Exception) as max_depth:
#             broken_max_depth()
            
#         self.assertTrue('Invalid input error. The max_depth must be'\
#                 'a postive integer.'in str(max_depth.exception))
        
#     def test_false_random_state(self):
#         def broken_random_state():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn,
#                                     random_state = -10000
#                                     )
#         with self.assertRaises(Exception) as random_state:
#             broken_random_state()
            
#         self.assertTrue('Invalid input error. The random_state  must be'\
#                 'a postive integer or None.'in str(random_state.exception))

        
        
#     def test_false_missing_data_replace(self):
#         def broken_missing_data_replace():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn,
#                                     missing_data_replace =4
#                                     )
#         with self.assertRaises(Exception) as missing_data_replace:
#             broken_missing_data_replace()
            
#         self.assertTrue('Invalid input error. missing_data_replace value must '\
#             'be 0, 1 or 2'in str(missing_data_replace.exception))
        
#     def test_false_missing_holdout_replace(self):
#         def broken_missing_holdout_replace():
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn,
#                                     missing_holdout_replace =4
#                                     )
#         with self.assertRaises(Exception) as missing_holdout_replace:
#             broken_missing_holdout_replace()
            
#         self.assertTrue('Invalid input error. missing_holdout_replace value must '\
#             'be 0, or 1'in str(missing_holdout_replace.exception))
        
    
        
#     def test_false_treatment_column_name_value(self):
#         def broken_treatment_column_name_value():
#             df = holdout.copy()
#             df.loc[0,'treated'] = 4
#             res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = df, # holdout set
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     k = 0
#                                     )

#         with self.assertRaises(Exception) as treatment_column_name_value:
#             broken_treatment_column_name_value()
#         self.assertTrue('Invalid input error. All rows in the treatment '\
#                         'column must have either a 0 or a 1 value.' in str(treatment_column_name_value.exception))
        
#     def test_false_input_treatment_value(self):
#         def broken_input_treatment_value():
#             df = data.copy()
#             df.loc[0,'treated'] = 4
#             insert_data_to_db("test_df", # The name of your table containing the dataset to be matched
#                     df,
#                     treatment_column_name= "treated",
#                     outcome_column_name= 'outcome',conn = conn)
            
#             res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     conn = conn
#                                     )
#         with self.assertRaises(Exception) as input_treatment_value:
#             broken_input_treatment_value()
            
#         self.assertTrue('Invalid input error. All rows in the treatment '\
#                         'column must have either a 0 or a 1 value.'in str(input_treatment_value.exception))

p should be larger than 2

In [2]:
# res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     treatment_column_name= "sadfdag",
# #                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     k = 0)

In [3]:
# res_post_new2 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                         holdout_data = holdout, # holdout set
#                         C = 0.1,
#                         conn = conn,
#                         alpha = -10,
#                         verbose = 3,
#                         k = 0
#                         )

In [4]:
# res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                                     holdout_data = holdout, # holdout set
#                                     treatment_column_name= "sadfdag",
#                                     C = 0.1,
#                                     conn = conn,
#                                     matching_option = 0,
#                                     verbose = 3,
#                                     k = 0
#                                     )

In [5]:
# res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                         holdout_data = holdout, # holdout set
#                         C = 0.1,
#                         conn = conn,
#                         matching_option = 0,
#                         verbose = 3,
#                         early_stop_un_t_frac = -10,
#                         k = 0
#                         )

In [6]:
# df = holdout.copy()
# df.loc[0,'treated'] = 4
# res_post_new1 = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                         holdout_data = df, # holdout set
#                         C = 0.1,
#                         conn = conn,
#                         matching_option = 0,
#                         verbose = 1,
#                         k = 0
#                         )

In [7]:
# t = Test_exceptions()

# t.test_false_dataset()
# t.test_false_holdout()
# t.test_false_treatment_column_name()
# t.test_false_outcome_column_name()
# t.test_false_early_stop_un_t_frac()    
# t.test_false_early_stop_un_c_frac()             
# t.test_false_early_stop_pe()    
# t.test_false_early_stop_pe_frac()  
# t.test_false_weights_type()  
# t.test_false_weight_array_len()    
# t.test_false_weight_array_sum()        
# t.test_false_alpha()
# t.test_false_C()     
# t.test_false_k()
# t.test_false_ratio()
# t.test_false_matching_option()
# t.test_false_verbose()   
# t.test_false_max_depth() 
# t.test_false_random_state()    
# t.test_false_missing_data_replace()   
# t.test_false_missing_holdout_replace() 

# t.test_false_input_treatment_value()

Insert 1000 rows successfully to Database