In [1]:
import numpy as np
import pandas as pd
from flame_db.gen_insert_data import *
from flame_db.FLAME_db_algorithm import *
from flame_db.matching_helpers import *
from flame_db.utils import *
import unittest
import pandas as pd
import os
import sys


# #Generate toy dataset
# p = 20
# TE = 5
# data,weight_array = gen_data_db(n = 5000,p = p, TE = TE)
# holdout,weight_array = gen_data_db(n = 500,p = p, TE = TE)
# #Connect to the database
# select_db = "postgreSQL"  # Select the database you are using
# database_name='tmp' # database name
# host ='vcm-17819.vm.duke.edu' # "127.0.0.1"
# port = "5432"
# user="newuser"
# password= "sunxian123"
# conn = connect_db(database_name, user, password, host, port)

# #Insert the data into database
# insert_data_to_db("test_df", # The name of your table containing the dataset to be matched
#                     data, 
#                     treatment_column_name= "Treated",
#                     outcome_column_name= 'outcome123',conn = conn)



def check_statistics(res_post_new):
    ATE_ = ATE_db(res_post_new)
    ATT_ = ATT_db(res_post_new)
    if type(ATE_) == np.nan:
        print("ATE: " + str(ATE_))
        return True
    if type(ATT_) == np.nan:
        print("ATT:" + str(ATT_))
        return True
    return False

In [2]:
class TestFlame_db(unittest.TestCase):
              
    def test_weights(self):
        is_corrct = 1
        try:
            for verbose in [0,1,2,3]:
                for matching_option in [0,1,2,3]:
                    #Test fixed weights
                    for adaptive_weights in ['ridge', 'decisiontree',False]:
                        res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
                                    holdout_data = holdout, # holdout set
                                    treatment_column_name= "Treated",
                                    outcome_column_name= 'outcome123',
                                    C = 0.1,
                                    conn = conn,
                                    matching_option = matching_option,
                                    adaptive_weights = adaptive_weights,
                                    weight_array = weight_array, 
                                    verbose = verbose,
                                    k = 0
                                    )
                        if check_statistics(res_post_new):
                            is_corrct = 0
            
        except (KeyError, ValueError):
                is_corrct = 0

        self.assertEqual(1, is_corrct,
                             msg='Error when test weights')        
            
    def test_stop_iterations(self):
        is_corrct = 1
        try:
            for early_stop_iterations in [2,3]:
                res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
                            holdout_data = holdout, # holdout set
                            treatment_column_name= "Treated",
                            outcome_column_name= 'outcome123',
                            C = 0.1,
                            conn = conn,
                            matching_option = 0,
                            adaptive_weights = 'decisiontree',
                            verbose = 1,
                            k = 0,
                            early_stop_iterations = early_stop_iterations            
                            )
                if check_statistics(res_post_new):
                    is_corrct = 0
            
        except (KeyError, ValueError):
                is_corrct = 0

        self.assertEqual(1, is_corrct,
                             msg='Error when test stop_iterations')        

    def test_missing_datasets(self):
            is_corrct = 1
            try:    
                for missing_data_replace in [0,1,2]:
                    for missing_holdout_replace in [0,1]:  
                        holdout_miss = holdout.copy()
                        m,n = holdout_miss.shape
                        for i in range(int(m/100)):
                            for j in [0,int(n/2)]:
                                holdout_miss.iloc[i,j] = np.nan
                        res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
                                                holdout_data = holdout_miss, # holdout set
                                                treatment_column_name= "Treated",
                                                outcome_column_name= 'outcome123',
                                                C = 0,
                                                conn = conn,
                                                matching_option = 1,
                                                adaptive_weights = 'decisiontree',
                                                verbose = 1,
                                                missing_data_replace = missing_data_replace,
                                                missing_holdout_replace = missing_holdout_replace) 
                        if check_statistics(res_post_new):
                            is_corrct = 0

            except (KeyError, ValueError):
                    is_corrct = 0

            self.assertEqual(1, is_corrct,
                                 msg='Error when test missing datasets')  

        #     print(ATE_db(res_post_new))
        #     print(ATT_db(res_post_new))

In [ ]:
t = TestFlame_db()
t.test_missing_datasets()
t.test_stop_iterations()

In [3]:
p = 20
TE = 5
data,weight_array = gen_data_db(n = 5000,p = p, TE = TE)
holdout,weight_array = gen_data_db(n = 500,p = p, TE = TE)
holdout = pd.read_csv("holdout.csv")
data = pd.read_csv("data.csv")
#Connect to the database
select_db = "postgreSQL"  # Select the database you are using
database_name='tmp' # database name
host ='vcm-17819.vm.duke.edu' # "127.0.0.1"
port = "5432"
user="newuser"
password= "sunxian123"
conn = connect_db(database_name, user, password, host, port)

#Insert the data into database
insert_data_to_db("test_df", # The name of your table containing the dataset to be matched
                    data, 
                    treatment_column_name= "Treated",
                    outcome_column_name= 'outcome123',conn = conn)
for verbose in [2]:
    for matching_option in [0]:
        #Test fixed weights
        for adaptive_weights in ['ridge']:
            res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
                        holdout_data = holdout, # holdout set
                        treatment_column_name= "Treated",
                        outcome_column_name= 'outcome123',
                        C = 0.1,
                        conn = conn,
                        matching_option = matching_option,
                        adaptive_weights = adaptive_weights,
                        weight_array = weight_array, 
                        verbose = verbose,
                        k = 0
                        )

Insert 5000 rows successfully to Database
un_matched in total:  4980
matched in total:  20
Level1: Do matching without dropping any covs
Level2: No matching after fast drop cov19 with adaptive score: (PE: 2.1515979204152424 BF: 0.0032129389827080333)
Level3: No matching after fast drop cov11 with adaptive score: (PE: 2.1408287977573073 BF: 0.008032347456770082)
Level4: No matching after fast drop cov13 with adaptive score: (PE: 2.1336085972618095 BF: 0.0289164508443723)
Level5: No matching after fast drop cov20 with adaptive score: (PE: 2.1274093261597695 BF: 0.07269484128129813)
Level6: No matching after fast drop cov18 with adaptive score: (PE: 2.1196818334913257 BF: 0.15100813218727757)
Level7: No matching after fast drop cov14 with adaptive score: (PE: 2.112468241452367 BF: 0.2887440198931246)
Level8: No matching after fast drop cov15 with adaptive score: (PE: 2.107741228608934 BF: 0.5365398421369528)
Level9: No matching after fast drop cov16 with adaptive score: (PE: 2.1086304337524995 BF: 0.9229628523285178)
Level10: No matching after fast drop cov17 with adaptive score: (PE: 2.1092224766833088 BF: 1.4161951157198363)
un_matched in total:  1454
matched in total:  3546
Found the boundary to switch to slowly dropping important covariates.
Level11: Do matching after slow drop cov12 with adaptive score: (PE: 2.135452603700416 BF: 0.4308065176823995)
un_matched in total:  1141
matched in total:  3859
Early stopping: predictive error would have risen  25.0 % above the baseline.
Done matching:
	Number of units matched so far:  3859
	Number of covariates dropped in total:  11
	Number of matched groups formed in total:  1108
	Unmatched treated units:  541 out of a total of  2487 treated units
	Unmatched control units:  600 out of a total of  2513 control units

In [4]:
res_post_new[0][0]['num_control'].sum() + res_post_new[0][0]['num_treated'].sum()

20

In [5]:
res_post_new[0][1]['num_control'].sum() + res_post_new[0][1]['num_treated'].sum()

3526

In [6]:
res_post_new[0][2]['num_control'].sum() + res_post_new[0][2]['num_treated'].sum()

313

In [7]:
# res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#             holdout_data = holdout, # holdout set
#             treatment_column_name= "Treated",
#             outcome_column_name= 'outcome123',
#             C = 0.1,
#             conn = conn,
#             matching_option = 0,
#             adaptive_weights = 'ridge',
#             weight_array = weight_array, 
#             verbose = 2,
#             k = 0
#             )

In [8]:
holdout

,cov1,cov2,cov3,cov4,cov5,cov6,cov7,cov8,cov9,cov10,...,cov13,cov14,cov15,cov16,cov17,cov18,cov19,cov20,Treated,outcome123
0,Good,Bad,Good,Bad,Bad,Good,Good,Bad,Bad,Bad,...,Bad,Bad,Good,Good,Bad,Bad,Bad,1.0,1.0,89.256918
1,Good,Good,Good,Bad,Good,Good,Good,Good,Good,Bad,...,Bad,Good,Bad,Good,Bad,Good,Bad,1.0,0.0,203.979121
2,Good,Bad,Good,Bad,Bad,Good,Bad,Good,Bad,Bad,...,Good,Good,Bad,Good,Good,Good,Good,0.0,1.0,94.233244
3,Bad,Good,Good,Bad,Good,Good,Bad,Good,Good,Bad,...,Bad,Good,Bad,Good,Bad,Bad,Bad,1.0,1.0,169.724566
4,Good,Good,Bad,Good,Good,Bad,Good,Good,Good,Bad,...,Bad,Bad,Bad,Bad,Good,Good,Bad,1.0,1.0,184.322700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Good,Bad,Bad,Good,Good,Good,Good,Good,Bad,Bad,...,Bad,Good,Good,Bad,Good,Good,Bad,0.0,1.0,159.231762
496,Bad,Bad,Bad,Bad,Bad,Good,Bad,Bad,Good,Good,...,Bad,Good,Good,Bad,Good,Bad,Bad,0.0,0.0,124.831038
497,Bad,Good,Good,Bad,Good,Bad,Good,Bad,Good,Good,...,Bad,Bad,Good,Bad,Good,Good,Bad,0.0,1.0,186.366591
498,Good,Good,Bad,Bad,Bad,Good,Bad,Good,Good,Bad,...,Good,Bad,Bad,Bad,Bad,Good,Bad,1.0,1.0,136.735527
499,Bad,Bad,Bad,Bad,Bad,Good,Bad,Bad,Bad,Bad,...,Good,Bad,Bad,Good,Bad,Bad,Good,0.0,1.0,36.017359

In [9]:
holdout.to_csv("holdout.csv",index = None)
data.to_csv("data.csv",index = None)

In [10]:
# t = TestFlame_db()
# t.test_weights()
# t.test_stop_iterations()
# t.test_missing_datasets()

In [11]:



# #**********************************Test**********************************#


    
# for C in [0.0, 0.2,0.6]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                     holdout_data = holdout, # holdout set
#                     treatment_column_name= "Treated",
#                     outcome_column_name= 'outcome123',
#                     C = C,
#                     conn = conn,
#                     matching_option = 1,
#                     adaptive_weights = 'ridge',
#                     verbose = verbose,
#                     k = 0
#                     )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
# for matching_option in [0,1,2,3]: 
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                     holdout_data = holdout, # holdout set
#                     treatment_column_name= "Treated",
#                     outcome_column_name= 'outcome123',
#                     C = 0.0,
#                     conn = conn,
#                     matching_option = matching_option,
#                     adaptive_weights = 'ridge',
#                     verbose = 1,
#                     k = 0
#                     )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))


# for alpha in [0.1,0.8]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                 holdout_data = holdout, # holdout set
#                 treatment_column_name= "Treated",
#                 outcome_column_name= 'outcome123',
#                 C = 0,
#                 conn = conn,
#                 matching_option = 1,
#                 adaptive_weights = 'decisiontree',
#                 verbose = 1,
#                 k = 0,
#                 alpha = alpha,
#                 early_stop_iterations = 2            
#                 )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
# for max_depth in [8,9]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                 holdout_data = holdout, # holdout set
#                 treatment_column_name= "Treated",
#                 outcome_column_name= 'outcome123',
#                 C = 0,
#                 conn = conn,
#                 matching_option = 1,
#                 adaptive_weights = 'decisiontree',
#                 verbose = 1,
#                 k = 0,
#                 max_depth = max_depth,
#                 early_stop_iterations = 2            
#                 )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
    

# for k in [0,2,4]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                 holdout_data = holdout, # holdout set
#                 treatment_column_name= "Treated",
#                 outcome_column_name= 'outcome123',
#                 C = 0,
#                 conn = conn,
#                 matching_option = 1,
#                 adaptive_weights = 'decisiontree',
#                 verbose = 1,
#                 k = k
#                 )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
# for ratio in [0.01,0.1]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#                 holdout_data = holdout, # holdout set
#                 treatment_column_name= "Treated",
#                 outcome_column_name= 'outcome123',
#                 C = 0,
#                 conn = conn,
#                 matching_option = 1,
#                 adaptive_weights = 'decisiontree',
#                 verbose = 1,
#                 ratio = ratio
#                 )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
# for early_stop_un_c_frac in [0.2,0.5]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#             holdout_data = holdout, # holdout set
#             treatment_column_name= "Treated",
#             outcome_column_name= 'outcome123',
#             C = 0,
#             conn = conn,
#             matching_option = 1,
#             adaptive_weights = 'decisiontree',
#             verbose = 1,
#             early_stop_un_c_frac = early_stop_un_c_frac                
#             )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
    
# for early_stop_un_t_frac in [0.2,0.5]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#             holdout_data = holdout, # holdout set
#             treatment_column_name= "Treated",
#             outcome_column_name= 'outcome123',
#             C = 0,
#             conn = conn,
#             matching_option = 1,
#             adaptive_weights = 'decisiontree',
#             verbose = 1,
#             early_stop_un_t_frac = early_stop_un_t_frac                
#             )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
# for early_stop_pe in [3,5]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#             holdout_data = holdout, # holdout set
#             treatment_column_name= "Treated",
#             outcome_column_name= 'outcome123',
#             C = 0,
#             conn = conn,
#             matching_option = 1,
#             adaptive_weights = 'decisiontree',
#             verbose = 1,
#             early_stop_pe = early_stop_pe                
#             )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
# for early_stop_pe_frac in [0.5,1]:    
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#             holdout_data = holdout, # holdout set
#             treatment_column_name= "Treated",
#             outcome_column_name= 'outcome123',
#             C = 0,
#             conn = conn,
#             matching_option = 1,
#             adaptive_weights = 'decisiontree',
#             verbose = 1,
#             early_stop_pe_frac = early_stop_pe_frac                
#             )   
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
# for missing_data_replace in [0,1,2]:
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#             holdout_data = holdout, # holdout set
#             treatment_column_name= "Treated",
#             outcome_column_name= 'outcome123',
#             C = 0,
#             conn = conn,
#             matching_option = 1,
#             adaptive_weights = 'decisiontree',
#             verbose = 1,
#             missing_data_replace = missing_data_replace                
#             ) 
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))
# for missing_holdout_replace in [0,1]:    
#     res_post_new = FLAME_db(input_data = "test_df", # The name of your table containing the dataset to be matched
#             holdout_data = holdout, # holdout set
#             treatment_column_name= "Treated",
#             outcome_column_name= 'outcome123',
#             C = 0,
#             conn = conn,
#             matching_option = 1,
#             adaptive_weights = 'decisiontree',
#             verbose = 1,
#             missing_holdout_replace = missing_holdout_replace                
#             )
#     print(ATE_db(res_post_new))
#     print(ATT_db(res_post_new))